:root {
    --bg-color:gainsboro;
    --ptext-color:black;
    --border-color:whitesmoke;
    --title-color:navy;
    --link-bg-color:navy;
    --link-text-color: aliceblue;
    --link-hover-text-color:navy;
    --link-hover-bg-color:white;
    --title-color-hover:pink;
}

* {
    font-family: "Lucida Bright", "Segoe UI", "Leelawadee UI",'Lucida Sans', sans-serif;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    border: 6px solid var(--border-color);
}

.genovese {
    margin: 25px;
    color: var(--title-color);
    font-size: 50px;
    padding: 3px;
}

a:link {
    text-decoration: none;
    padding: 6px;
    font-size: 18px;
}

.header-links {
    padding-bottom: 15px;
   margin: 25px;
   background-color: var(--bg-color);
   align-self: flex-end;
   font-size: 20px;
}

.header-1, .header-2, .header-3, .header-4 {
    border: 6px solid var(--border-color);
    background-color: var(--link-bg-color);
    color: var(--link-text-color);
    margin: 3px;
}

.header-1:hover, .header-2:hover, .header-3:hover, .header-4:hover {
    background-color: var(--link-hover-bg-color);
    border: 6px solid var(--border-color);
    color: var(--link-hover-text-color);
}

.body {
    background-color: var(--bg-color);
}

.column-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.left-column {
    width: 40%;
    border-right: 6px solid var(--border-color);
    margin: 20px;
    padding-right: 5%;
}

.photo-container1 {
    margin-top: 4%;
}

.image-1 {
    border: 6px solid var(--border-color);
}

.about-me-left-column {
    font-size: 30px;
    color: var(--title-color)
}

.about-me-left-column:hover {
    color: var(--title-color-hover);
}

.left-column-p {
    margin-top: 5%;
    font-size: 18px;
    line-height: 1.5;
    color: var(--ptext-color);
}

.left-column-p2, .left-column-p3 {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    color: var(--ptext-color);
}

.my-work-left-column {
    font-size: 30px;
    color: var(--title-color);
    padding-top: 5%;
}

.my-work-left-column:hover {
    color: var(--title-color-hover);
}

.right-column {
    margin: 20px;
    width: fit-content;
}

.photo-container2 {
    padding: 6px;
    position: relative;
    margin-bottom: 4%;
}

.image-2, .image-3 {
    border: 6px solid var(--border-color);
}

.image-2:hover, .image-3:hover {
    filter:sepia(20%);
}

.image-text2, .image-text3 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--border-color);
    color: var(--title-color);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }

.image-text2:hover, .image-text3:hover {
    font-style: italic;
}

.photo-container3 {
    padding: 6px;
    position: relative;
}

.footer-container {
    background-color: var(--bg-color);
    border: 6px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}

.contact-me {
    margin: 25px;
    font-size: 30px;
    color: var(--title-color);
    text-align: left;
}

.footer-list {
    padding: 20px;
    margin: 25px;
    background-color: var(--bg-color);
    font-size: 20px;
}

.footer-1, .footer-2, .footer-3, .footer-4, .footer-5 {
    border: 6px solid var(--border-color);
    background-color: var(--link-bg-color);
    color: var(--link-text-color);
    margin: 3px;
}

.footer-1:hover, .footer-2:hover, .footer-3:hover, .footer-4:hover, .footer-5:hover {
    background-color: var(--link-hover-bg-color);
    border: 6px solid var(--border-color);
    color: var(--link-hover-text-color);
}

@media screen and (min-width: 1286px) {

    .right-column {
        width: 50%;
    }

    .left-column {
        width: 50%;
    }
}

@media screen and (max-width: 1159px) {

    .genovese, .contact-me {
        font-size: 38px;
    }

    .contact-me {
        font-size: 32px;
    }

    .about-me-left-column, .my-work-left-column {
        font-size: 25px;
    }

    .left-column {
        width: 100%;
    }

    .header-container, .footer-container {
        width:100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .header-links, .footer-list {
        width:fit-content;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
