* {
    font-family: "Lucida Bright", "Segoe UI", "Leelawadee UI",'Lucida Sans', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    color: whitesmoke;
}

.genovese {
    margin: 25px;
    color: whitesmoke;
    font-size: 50px;
}

.header-links {
   margin: 25px;
   background-color: cadetblue;
   align-self: flex-end;
   color: aliceblue;
   font-size: 20px;
}

.body {
    background-color: rgb(83, 129, 142);
}

.column-container {
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.about-me-left-column {
    font-size: 30px;
}

.left-column-p {
    display: flex;
    justify-content: left;
    font-size: 18px;
}

.my-work-left-column {
    font-size: 30px;
}

.left-column-p2 {
    display: flex;
    justify-content: left;
    font-size: 18px;
}

.right-column {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.photo-container1 {
    display: flex;
    padding: 15px;
}

.image-text1 {
    position: relative;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

  .photo-container2 {
    display: flex;
    padding: 15px;
    align-items: end;
}

.image-text2 {
    position:relative;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.photo-container3 {
    display: flex;
    padding: 15px;
    align-items: end;
}

.image-text3 {
    position: relative;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
  }

.photo-container4 {
    display: flex;
    padding: 15px;
    align-items: end;
}

.image-text4 {
    position:relative;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.photo-container5 {
    display: flex;
    padding: 15px;
    align-items: end;
}

.image-text5 {
    position:relative;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
}

.contact-me {
    margin: 25px;
    font-size: 30px;
    color: azure;
}

.footer-list {
    margin: 25px;
    background-color: cadetblue;
    align-self: flex-end;
    font-size: 20px;
}