* {
    font-family: "Lucida Bright", "Segoe UI", "Leelawadee UI",'Lucida Sans', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    color: black;
    border: 6px solid whitesmoke;
}

.genovese {
    margin: 25px;
    color: navy;
    font-size: 50px;
    padding: 3px;
}

a:link {
    text-decoration: none;
    padding: 6px;
    font-size: 18px;
}

.header-links {
    padding-bottom: 15px;
   margin: 25px;
   background-color: gainsboro;
   align-self: flex-end;
   font-size: 20px;
}

.header-1, .header-2, .header-3, .header-4 {
    border: 6px solid whitesmoke;
    background-color: navy;
    color: aliceblue;
    margin: 3px;
}

.header-1:hover, .header-2:hover, .header-3:hover, .header-4:hover {
    background-color: white;
    border: 6px solid white;
    color: navy;
}

.body {
    background-color: gainsboro;
}

.column-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.left-column {
    width: 40%;
    border-right: 6px solid aliceblue;
    margin: 20px;
    padding-right: 5%;
}

.photo-container1 {
    margin-top: 4%;
}

.image-1 {
    border: 6px solid aliceblue;
}

.about-me-left-column {
    font-size: 40px;
    color: navy;
}

.about-me-left-column:hover {
    color: pink;
}

.left-column-p {
    margin-top: 5%;
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

.left-column-p2, .left-column-p3 {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    color: black;
}

.my-work-left-column {
    font-size: 40px;
    color: navy;
    padding-top: 5%;
}

.my-work-left-column:hover {
    color: pink;
}

.right-column {
    margin: 20px;
}

.photo-container2 {
    padding: 6px;
    position: relative;
    margin-bottom: 4%;
}

.image-2, .image-3 {
    border: 6px solid aliceblue;
}

.image-2:hover, .image-3:hover {
    filter:sepia(20%);
}

.image-text2, .image-text3 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: whitesmoke;
    color: navy;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }

.image-text2:hover, .image-text3:hover {
    font-style: italic;
}

.photo-container3 {
    padding: 6px;
    position: relative;
}

.footer-container {
    background-color: gainsboro;
    border: 6px solid whitesmoke;
}

.contact-me {
    margin: 25px;
    font-size: 40px;
    color: navy;
    text-align: left;
}

.footer-list {
    padding: 20px;
    margin: 25px;
    text-align: right;
    background-color: gainsboro;
    font-size: 20px;
}

.footer-1, .footer-2, .footer-3, .footer-4, .footer-5 {
    border: 6px solid whitesmoke;
    background-color: navy;
    color: aliceblue;
    margin: 3px;
}

.footer-1:hover, .footer-2:hover, .footer-3:hover, .footer-4:hover, .footer-5:hover {
    background-color: white;
    border: 6px solid white;
    color: navy;
}